WebServicesDemo/WebContent/wsdl/Cards.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://org" xmlns:intf="http://org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="validateCard">
    <complexType>
     <sequence>
      <element name="cardNo" type="xsd:long"/>
      <element name="amount" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateCardResponse">
    <complexType>
     <sequence>
      <element name="validateCardReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="validateCardRequest">

      <wsdl:part element="impl:validateCard" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateCardResponse">

      <wsdl:part element="impl:validateCardResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Cards">

      <wsdl:operation name="validateCard">

         <wsdl:input message="impl:validateCardRequest" name="validateCardRequest">

       </wsdl:input>

         <wsdl:output message="impl:validateCardResponse" name="validateCardResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CardsSoapBinding" type="impl:Cards">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validateCard">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateCardRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateCardResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CardsService">

      <wsdl:port binding="impl:CardsSoapBinding" name="Cards">

         <wsdlsoap:address location="http://localhost/WebServicesDemo/services/Cards"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
